{{#if showDownloadAlert}}
  <div
    class="file-table-download-alert"
    data-test-id="file-table-download-alert"
  >
    <button
      data-test-action="file-table-download-close"
      {{action "closeDownloadAlert"}}
    >
      Close
    </button>
    Foo
  </div>
{{/if}}

<header data-test-id="file-table-action-bar">
  <button
    data-test-action="file-table-select-all"
    {{action "toggleSelectAll"}}
  >
    <i
      class="file-table-select-status-{{selectAllStatus}}"
      data-test-id="file-table-select-status-icon"
    >
      &nbsp;
    </i>
    Selected {{selectedFilePaths.length}}
  </button>
  <button
    data-test-action="file-table-download-selected"
    {{action "downloadSelected"}}
  >
    Download Selected
  </button>
</header>

<table>
  <thead data-test-id="file-table-header">
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Device</th>
    <th>Path</th>
    <th>&nbsp;</th>
    <th>Status</th>
  </thead>
  <tbody>
    {{#each files as | file |}}
      {{file-table-item
        file=file
        selectedFilePaths=selectedFilePaths
        click=(action "toggleSelectedPath" file.path)
      }}
    {{/each}}
  </tbody>
</table>